 BasedOnStyle: LLVM
 BreakBeforeBraces: Attach
 IndentWidth: 4
 AlignConsecutiveAssignments: true
 AlignTrailingComments: true
 AllowShortIfStatementsOnASingleLine: Always
 AllowShortBlocksOnASingleLine: Always
